################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/IntelliTEDx/config/applicationhost.config
/IntelliTEDxWebsite/.vs/IntelliTEDxWebsite/FileContentIndex
/IntelliTEDxWebsite/obj/Debug/net8.0/project.razor.vs.bin
*.v2
/IntelliTEDxWebsite/.vs/ProjectEvaluation
/IntelliTEDxWebsite/obj/Debug/net8.0/project.razor.vs.bin
/IntelliTEDxWebsite/.vs/IntelliTEDxWebsite/v17/.suo
/IntelliTEDxWebsite/.vs/IntelliTEDxWebsite/v17/.suo
/IntelliTEDxWebsite/obj/Debug/net8.0/project.razor.vs.bin
