################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/IntelliTEDx/config/applicationhost.config
/IntelliTEDxWebsite/.vs/IntelliTEDxWebsite/FileContentIndex
/IntelliTEDxWebsite/obj/Debug/net8.0/project.razor.vs.bin
*.v2
/IntelliTEDxWebsite/.vs/ProjectEvaluation
/IntelliTEDxWebsite/obj/Debug/net8.0/project.razor.vs.bin
/IntelliTEDxWebsite/.vs/IntelliTEDxWebsite/v17/.suo
/IntelliTEDxWebsite/.vs/IntelliTEDxWebsite/v17/.suo
/IntelliTEDxWebsite/obj/Debug/net8.0/project.razor.vs.bin
/IntelliTEDxWebsite/obj/Release/net8.0
/.vs
/IntelliTEDxWebsite/bin/Debug/net8.0/IntelliTEDxWebsite.dll
/IntelliTEDxWebsite/bin/Debug/net8.0/IntelliTEDxWebsite.pdb
/IntelliTEDxWebsite/bin/Debug/net8.0/IntelliTEDxWebsite.exe
/IntelliTEDxWebsite/bin/Debug/net8.0/IntelliTEDxWebsite.staticwebassets.runtime.json
/IntelliTEDxWebsite/obj/Debug/net8.0/staticwebassets/msbuild.IntelliTEDxWebsite.Microsoft.AspNetCore.StaticWebAssets.props
/IntelliTEDxWebsite/obj/IntelliTEDxWebsite.csproj.nuget.dgspec.json
/IntelliTEDxWebsite/obj/project.nuget.cache
/IntelliTEDxWebsite/obj/Debug/net8.0/staticwebassets.build.json
/IntelliTEDxWebsite/obj/Debug/net8.0/staticwebassets.pack.json
/IntelliTEDxWebsite/obj/Debug/net8.0/IntelliTEDxWebsite.sourcelink.json
/IntelliTEDxWebsite/obj/Debug/net8.0/staticwebassets.development.json
/IntelliTEDxWebsite/obj/Debug/net8.0/IntelliTEDxWebsite.pdb
/IntelliTEDxWebsite/obj/Debug/net8.0/apphost.exe
/IntelliTEDxWebsite/obj/Debug/net8.0/IntelliTEDxWebsite.assets.cache
/IntelliTEDxWebsite/obj/Debug/net8.0/IntelliTEDxWebsite.dll
/IntelliTEDxWebsite/obj/Debug/net8.0/IntelliTEDxWebsite.GeneratedMSBuildEditorConfig.editorconfig
/IntelliTEDxWebsite/obj/Debug/net8.0/refint/IntelliTEDxWebsite.dll
/IntelliTEDxWebsite/obj/Debug/net8.0/ref/IntelliTEDxWebsite.dll
/IntelliTEDxWebsite/obj/Debug/net8.0/IntelliTEDxWebsite.AssemblyInfo.cs
/IntelliTEDxWebsite/obj/Debug/net8.0/IntelliTEDxWebsite.AssemblyInfoInputs.cache
/IntelliTEDxWebsite/obj/Debug/net8.0/IntelliTEDxWebsite.genruntimeconfig.cache
