@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center pt-4">
    <h1 class="display-4">IntelliTEDx</h1>
    <p>Get ready to be inspired Thursday February 8th 4:00-6:00pm at the Intellitect Office</p>
    <a href="https://forms.office.com/r/wjejJrSCLT" target="_blank">Sign up to speak here!</a>
</div>
<div class="grid-container">
    <div class="p-3 text-center">
        <div class="card shadow-lg">
            <div>
                <img class="speaker" src="https://intellitect.com/wp-content/uploads/2021/10/Mikella-SWR-300x300-1.jpg" />
            </div>
            <div class="card-body">Mikaella will be talking about Krav Maga! </div>
        </div>
    </div>
</div>
